@{
    ViewData["Title"] = "Student List";
}

<h1>Student List</h1>
<br>

<a asp-area="" asp-controller="Student" asp-action="Add_Student"> Add Student </a>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Enrolment Date</th>
            <th>Edit Student Details</th>
            <th>Delete Student Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Course</td>
                <td>@student.EnrolmentDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit_Student" asp-route-id="@student.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete_Student" asp-route-id="@student.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>